body {
    max-width: 1200px;
    margin: 0 auto;
    /*TODO: ПОСМОТРИ КАКИЕ ЕЩЕ СВОЙСТВА СТАВЯТСЯ В ТЕГ BODY И ЗАЧЕМ?*/
}


.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 50px;
    /*TODO: пройдись потом autoprefix потом откатись, посмотри как он работает*/

}

.flex-conainer div {
    display: flex;
    flex-direction: column;



}

.information-block {

    width: 50%;

}

.information-block section {
    margin: 40px 0px;
}

.btn {
    box-sizing: border-box;
    border-radius: 7px;
    width: 35%;
    background: #456380; /*НЕ ДУБЛИРУЙ ЦВЕТА TODO: ПОДУМАЙ КАК РЕШИТЬ ЭТУ ПРОБЛЕМУ*/
    padding: 15px 10px;
    text-align: center;

}

.link {
    color: white;
    text-decoration: none;
}

.table-block {

    width: 25%;

}

td {
   width: 11%;
   padding: 5px 0px; /*НЕТ 0px такой величины*/
   vertical-align: top;
}

.extra {

    width: 25%;

}

.critic {
    display: inline-block;
    width: auto;
    border: 1px solid #456380; /*НЕ ДУБЛИРУЙ ЦВЕТА TODO: ПОДУМАЙ КАК РЕШИТЬ ЭТУ ПРОБЛЕМУ*/
    border-radius: 7px;
    padding: 2px;
}

.score {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 7px;
    border-style: none;
    width: 22px; /*ТУТ ПЛЯШЕТ ОТ ФИКСИРОВАННОЙ ВЫСОТЫ, А ДОЛЖНО ОТ РАЗМЕРА ШРИФТА
    TODO: СДЕЛАЙ ОТНОСИТЕЛЬНЫМИ ЭЛЕМЕНТЫ -- ИСПОЛЬЗУЙ ТОЛЬКО PADDING как в макете*/
    height: 22px;
    padding: 5px;
    background: #456380; /*НЕ ДУБЛИРУЙ ЦВЕТА TODO: ПОДУМАЙ КАК РЕШИТЬ ЭТУ ПРОБЛЕМУ*/
    color: white;
    font-size: 10px;
    text-align: center;
}

.critic-name {
    display: inline-block;
    text-align: center;
    color: #456380; /*НЕ ДУБЛИРУЙ ЦВЕТА TODO: ПОДУМАЙ КАК РЕШИТЬ ЭТУ ПРОБЛЕМУ*/
    font-size: 10px;
    margin: 0 5px;
    
}